<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1" width="100%">

    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Emai</th>
        <th>Mobile Number</th>
    </tr>

    <!-- <%= %> For Single Variable -->
    <!-- <%- %> For Arry And Object -->
    <!-- <% %> For Loops -->

    <% if(student.length > 0) { %>

        <% for(let i = 0; i < student.length; i++) { %>
            <tr>
                <td><%- student[i].sr %></td>
                <td><%- student[i].name %></td>
                <td><%- student[i].email %></td>
                <td><%- student[i].mno %></td>
            </tr>
        <% } %>
        
        <% } else { %>
            <tr>
                <td colspan="4">Data Not Found!</td>
            </tr>
        <% } %>
    </table>
</body>
</html>